@model GGP.Models.Employee
@{
    ViewBag.Title = "เพิ่มพนักงาน";
}
@section Styles {
    @Styles.Render("~/Content/css/bootstrap-datepicker")
}
<h2>เพิ่ม</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>พนักงาน</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "แผนก", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.DepartmentId, (IEnumerable<SelectListItem>)ViewBag.Departments, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Firstname, "ชื่อ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Lastname, "นามสกุล", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Gender, "เพศ", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <label class="radio-inline">
                    <input type="radio" name="Gender" value="M" checked>
                    ชาย
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Gender" value="F">
                    หญิง
                </label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Alias, "ชื่อเล่น", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NationalIdentificationNumber, "เลขบัตรประชาชน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.NationalIdentificationNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NationalIdentificationNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TelephoneNumber, "โทร", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TelephoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TelephoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, "อีเมล", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, "ที่อยู่", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, "วันเกิด", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control datepicker", data_provide = "datepicker", data_date_autoclose = "true", data_date_format = "dd/mm/yyyy", data_bind = "textInput: birthDate", data_date_language = "th" })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2 form-control-static">
                <span data-bind="text: 'อายุ ' + moment(birthDate(), 'DD/MM/YYYY').fromNow(true), visible: moment(birthDate(), 'DD/MM/YYYY').isValid()"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartWorkingDate, "วันที่เริ่มงาน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.StartWorkingDate, new { @class = "form-control datepicker", data_provide = "datepicker", data_date_autoclose = "true", data_date_format = "dd/mm/yyyy", data_bind = "textInput: startWorkingDate", data_date_language = "th" })
                @Html.ValidationMessageFor(model => model.StartWorkingDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2 form-control-static">
                <span data-bind="text: 'อายุงาน ' + moment(startWorkingDate(), 'DD/MM/YYYY').fromNow(), visible: moment(startWorkingDate(), 'DD/MM/YYYY').isValid()"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WorkingStatusId, "สถานะการทำงาน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @foreach (var item in ViewBag.WorkingStatus)
                {
                    <label class="radio-inline">
                        <input type="radio" name="WorkingStatusId" value="@item.Id" @Html.Raw(item.Id == 1 ? "checked" : String.Empty)> @item.Status
                    </label>
                }
                @Html.ValidationMessageFor(model => model.WorkingStatusId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NationalityId, "สัญชาติ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @foreach (var item in ViewBag.Nationalities)
                {
                    <label class="radio-inline">
                        <input type="radio" name="NationalityId" value="@item.Id" data-bind="checked: nationalityId" @(item.Id == 1 ? "checked" : "")> @item.Name
                    </label>
                }
                @Html.ValidationMessageFor(model => model.NationalityId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" data-bind="visible: nationalityId() != 1">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        For Foreigner
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                เอกสาร ทร.38
                            </label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.AdditionalDocument.TemporaryLivingAllowance)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Passport
                            </label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.AdditionalDocument.Passport, new { data_bind = "checked: passport" })
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Passport No.
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.AdditionalDocument.PassportNumber, new { @class = "form-control", data_bind = "textInput: passportNumber, enable: passport, attr: { required: passport }" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                วันออก Passport
                            </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.AdditionalDocument.PassportIssueDate, new { @class = "form-control datepicker", data_bind = "textInput: passportIssueDate, enable: passport, attr: { required: passport }", data_provide = "datepicker", data_date_autoclose = "true", data_date_format = "dd/mm/yyyy", data_date_language = "th" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                วันหมดอายุ
                            </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.AdditionalDocument.PassportExpiredDate, new { @class = "form-control datepicker", data_bind = "textInput: passportExpiredDate, enable: passport, attr: { required: passport }", data_provide = "datepicker", data_date_autoclose = "true", data_date_format = "dd/mm/yyyy", data_date_language = "th" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                VISA
                            </label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.AdditionalDocument.VISA, new { data_bind = "checked: VISA" })
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                VISA No.
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.AdditionalDocument.VISANumber, new { @class = "form-control", data_bind = "textInput: VISANumber, enable: VISA, attr: { required: VISA }" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                วันหมดอายุ
                            </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.AdditionalDocument.VISAExpiredDate, new { @class = "form-control datepicker", data_bind = "textInput: VISAExpiredDate, enable: VISA, attr: { required: VISA }", data_provide = "datepicker", data_date_autoclose = "true", data_date_format = "dd/mm/yyyy", data_date_language = "th" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                เอกสารพิสูจน์สัญชาติ
                            </label>
                            <div class="col-md-2">
                                @Html.CheckBoxFor(model => model.AdditionalDocument.NationalityVerification)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                ใบอนุญาติทำงาน (Work Permit)
                            </label>
                            <div class="col-md-2">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(model => model.AdditionalDocument.WorkPermit, new { data_bind = "checked: workPermit" })
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                หมายเลข
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(model => model.AdditionalDocument.WorkPermitNumber, new { @class = "form-control", data_bind = "textInput: workPermitNumber, enable: workPermit, attr: { required: workPermit }" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                วันหมดอายุ
                            </label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(model => model.AdditionalDocument.WorkPermitExpiredDate, new { @class = "form-control datepicker", data_bind = "textInput: workPermitExpiredDate, enable: workPermit, attr: { required: workPermit }", data_provide = "datepicker", data_date_autoclose = "true", data_date_format = "dd/mm/yyyy", data_date_language = "th" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="เพิ่ม" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @Scripts.Render("~/bundles/knockout")
    <script>
        jQuery.validator.methods.date = function (value, element) {
            var dateRegex = /^(0?[1-9]\/|[12]\d\/|3[01]\/){2}(19|20)\d\d$/;
            return this.optional(element) || dateRegex.test(value);
        };
    </script>
    <script>
        moment.locale("th");
    </script>
    <script>
        function EmployeeViewModel() {
            var self = this;
            self.birthDate = ko.observable("@Html.Raw(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToShortDateString() : String.Empty)");
            self.startWorkingDate = ko.observable("@Html.Raw(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToShortDateString() : String.Empty)");
            self.nationalityId = ko.observable("@Html.Raw(Model.NationalityId > 0 ? Model.NationalityId : 1)");
            self.passport = ko.observable(@Html.Raw(Model.AdditionalDocument != null ? Model.AdditionalDocument.Passport.ToString().ToLower() : "false"));
            self.passportNumber = ko.observable("@Html.Raw(Model.AdditionalDocument != null ? Model.AdditionalDocument.PassportNumber : String.Empty)");
            self.passportIssueDate = ko.observable("@Html.Raw(Model.AdditionalDocument != null && Model.AdditionalDocument.PassportIssueDate.HasValue ? Model.AdditionalDocument.PassportIssueDate.Value.ToShortDateString() : String.Empty)");
            self.passportExpiredDate = ko.observable("@Html.Raw(Model.AdditionalDocument !=null && Model.AdditionalDocument.PassportExpiredDate.HasValue ?  Model.AdditionalDocument.PassportExpiredDate.Value.ToShortDateString() : String.Empty)");
            self.VISA = ko.observable(@Html.Raw(Model.AdditionalDocument !=null ? Model.AdditionalDocument.VISA.ToString().ToLower() : "false"));
            self.VISANumber = ko.observable("@Html.Raw(Model.AdditionalDocument != null ? Model.AdditionalDocument.VISANumber : String.Empty)");
            self.VISAExpiredDate = ko.observable("@Html.Raw(Model.AdditionalDocument != null && Model.AdditionalDocument.VISAExpiredDate.HasValue ? Model.AdditionalDocument.VISAExpiredDate.Value.ToShortDateString() : String.Empty)");
            self.workPermit = ko.observable(@Html.Raw(Model.AdditionalDocument != null ? Model.AdditionalDocument.WorkPermit.ToString().ToLower() : "false"));
            self.workPermitNumber = ko.observable("@Html.Raw(Model.AdditionalDocument != null ? Model.AdditionalDocument.WorkPermitNumber : String.Empty)");
            self.workPermitExpiredDate = ko.observable("@Html.Raw(Model.AdditionalDocument != null && Model.AdditionalDocument.WorkPermitExpiredDate.HasValue ? Model.AdditionalDocument.WorkPermitExpiredDate.Value.ToShortDateString() : String.Empty)");
        }

        ko.applyBindings(new EmployeeViewModel());
    </script>
}