@using GGP.Models;
@model IEnumerable<Employee>

@{
    ViewBag.Title = "พนักงาน";
}

@section styles
{
    @Styles.Render("~/Content/css/jquery-datables")
}

<h2>พนักงาน</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> เพิ่ม</a>
</p>
<table class="table" id="employeeTable">
    <thead>
        <tr>
            <th>
                ชื่อ
            </th>
            <th>
                นามสกุล
            </th>
            <th>
                ชื่อเล่น
            </th>
            <th>
                โทร
            </th>
            <th>
                วันเกิด
            </th>
            <th>
                วันที่เริ่มงาน
            </th>
            <th>
                สถานะการทำงาน
            </th>
            <th>
                สัญชาติ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelephoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartWorkingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingStatus.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> แก้ไข</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jquery-datatables")
    @Scripts.Render("~/bundles/jquery-datatables-bootstrap")
    <script>
        $("#employeeTable").DataTable();
    </script>
}