@model GGP.Models.Account
@{
    ViewBag.Title = "เพิ่มบัญชีผู้ใช้";
}
<h2>เพิ่ม</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>บัญชีผู้ใช้</h4>
        <hr>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <input type="hidden" name="Username" value="@Model.Username">
            @Html.LabelFor(model => model.Username, "บัญชีผู้ใช้", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <p class="form-control-static">
                    @Html.DisplayFor(model => model.Username)
                </p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "รหัสผ่าน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, "สิทธิ์การใช้งาน", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.RoleId, (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="แก้ไข" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}