@model GGP.Models.Account
@{
    ViewBag.Title = "เข้าสู่ระบบ";
}

<h2>เข้าสู่ระบบ</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, "บัญชีผู้ใช้", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input type="text" name="Username" value="@Model.Username" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "รหัสผ่าน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input type="password" name="Password" class="form-control" value="@Model.Password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="เข้าสู่ระบบ" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
