@using GGP.Models
@model IEnumerable<Supplier>
@{
    ViewBag.Title = "Supplier";
}
@section styles
{
    @Styles.Render("~/Content/css/jquery-datatables")
}
<h2>Supplier</h2>
<p>
    <a class="btn btn-default" href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span> เพิ่ม</a>
</p>
<table class="table table-striped table-responsive" id="supplierTable">
    <thead>
        <tr>
            <th>ชื่อ Supplier</th>
            <th>ที่อยู่</th>
            <th>โทร</th>
            <th>แฟกซ์</th>
            <th>ผู้ติดต่อ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.TelephoneNumber</td>
                <td>@item.FaxNumber</td>
                <td>
                    <ul class="list-unstyled">
                        @foreach (var contact in item.SupplierContacts)
                        {
                            <li>@contact.Name <span class="label label-primary">@contact.TelephoneNumber</span> <span class="label label-success">@contact.Email</span></li>
                        }
                    </ul>
                </td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span> แก้ไข</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jquery-datatables")
    @Scripts.Render("~/bundles/jquery-datatables-bootstrap")
    <script>
        $("#supplierTable").DataTable();
    </script>
}