@{
    ViewBag.Title = "เมนู";
}

<div class="row">
    <div class="col-md-12">
        <h1>เมนู</h1>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("บริษัท", "Index", "Company")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("ลูกค้า", "Index", "Customer")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("Supplier", "Index", "Supplier")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("พนักงาน", "Index", "Employee")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("บัญชีผู้ใช้", "Index", "Account")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("แผนก", "Index", "Department")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("สัญชาติ", "Index", "Nationality")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("หน่วยวัด (UM)", "Index", "UM")
            </h3>
        </div>
    </div>
</div>