@using GGP.Models
@model IEnumerable<Department>

@{
    ViewBag.Title = "แผนก";
}

@section styles
{
    @Styles.Render("~/Content/css/jquery-datatables")
}

<h2>แผนก</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> เพิ่ม</a>
</p>
<table class="table" id="departmentTable">
    <thead>
        <tr>
            <th>
                แผนก
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> แก้ไข</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jquery-datatables")
    @Scripts.Render("~/bundles/jquery-datatables-bootstrap")
    <script>
        $("#departmentTable").DataTable();
    </script>
}