@using GGP.Models;
@model IEnumerable<Nationality>
@{
    ViewBag.Title = "สัญชาติ";
}
@section styles
{
    @Styles.Render("~/Content/css/jquery-datables")
}
<h2>Index</h2>
<p>
    <a href="@Url.Action("Create")" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> เพิ่ม</a>
</p>
<table class="table" id="nationalityTable">
    <thead>
        <tr>
            <th>
                สัญชาติ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> แก้ไข</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    @Scripts.Render("~/bundles/jquery-datatables")
    @Scripts.Render("~/bundles/jquery-datatables-bootstrap")
    <script>
        $("#nationalityTable").DataTable();
    </script>
}